.move-items {
  background-color: white;
  font-size: 1rem;
  border: 1px solid #aaa;
  padding: 0.125rem 3rem;
  position: relative;
  width: fit-content;
}

.move-items::after {
  color: white;
  border: 1px solid #aaa;
  transition: left 0.125s;
  display: block;
  position: absolute;
  top: -1px;
}
@media (prefers-reduced-motion) {
  .move-items::after {
    transition: none;
  }
}

.move-items[aria-pressed="true"]::after {
  background-color: green;
  border-left: 0;
  content: "On";
  padding: 0.125rem 0.25rem 0.125rem 0.375rem;
  left: calc(100% - 2rem + 1px);
}

.move-items[aria-pressed="false"]::after {
  background-color: black;
  border-right: 0;
  content: "Off";
  padding: 0.125rem 0.375rem 0.125rem 0.25rem;
  left: -1px;
}
