name: Test

on:
  workflow_call:
  pull_request:

permissions:
  contents: read

jobs:
  web-test-runner:
    name: Web Test Runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: npm
      - run: npm install -g npm@^11.0.0
      - run: npm ci
      - run: npm test
  guidepup-macos:
    name: Guidepup (macOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: npm
      - run: npm install -g npm@^11.0.0
      - run: npm ci
      - uses: guidepup/setup-action@4aa2ebd687ff687a31d7c17184beac3c606d64cd
      - run: npm run test:guidepup
  guidepup-windows:
    name: Guidepup (Windows)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: npm
      - run: npm install -g npm@^11.0.0
      - run: npm ci
      - uses: guidepup/setup-action@4aa2ebd687ff687a31d7c17184beac3c606d64cd
      - run: npm run test:guidepup
